@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.time-container {
  margin: 2rem auto;
  padding: 1.5rem 1rem;
  text-align: center;
  max-width: 450px;
  background: #08030a;
  border-radius: 3rem;
}

.time-display {
  font-size: 6rem;
  color: #13dd78;
  margin-bottom: 1rem;
  user-select: none;
}

.time-btn {
  font: inherit;
  padding: 0.5rem 2rem;
  background: #08030a;
  color: #fff;
  border-radius: 1rem;
  border: 3px solid;
  cursor: pointer;
}
